 0   0   EMPTY
 1   0   EMPTY
 2   0   EMPTY
 3   0   EMPTY
 4   160.0   PIN-DIODE
 5   160.0   PIN-DIODE
 6   0   EMPTY
 7   0   EMPTY
 8   0   EMPTY
 9   0   EMPTY
10   0   EMPTY
11   0   EMPTY
12   0   EMPTY
13   0   EMPTY
14   0   EMPTY
15   0   EMPTY
16   160.0   PIN-DIODE
17   160.0   PIN-DIODE
18   0   EMPTY
19   0   EMPTY
